/* WageCalculator.css */

.wage-calculator-div {
    margin-left: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    width: 180px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.total-salary {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}

input {
    margin: 2px;
    width: 100px;;
}
